@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h3>Game List</h3>
    @foreach (ServiceProtocol.Common.KokkaKoroGame game in Model.Games)
    {
        <h4><strong><a href="ViewGame?GameId=@game.Id">@game.GameName</a></strong> - @game.State - Created by @game.CreatedBy, @((DateTime.UtcNow-game.Created).TotalMinutes) minutes ago</h4>
    }
</div>
